body {
  /* text-align: center; */
  background-color: #011F3F;
}

h1 {
  /* font-family: 'Press Start 2P', cursive; */
  /* font-size: 3rem; */
  /* text-align: center; */
  /* color: white; */
  margin: 5%;
  color: #FEF2BF;
}

h2 {
  color: white;
  color: #FEF2BF;
}

h3 {
  color: white;
  color: #FEF2BF;
}

h4 {
  color: white;
  color: #FEF2BF;
}

.big-container {
  padding: 10% 18%;
  /* display: inline-flex; */
  /* text-align: center; */
}

.container {
  display: inline-flex;
  text-align: center;
  padding: 0 0 0 5%;
}

.title-area {
  /* padding: 10% 0 0 0; */
  text-align: center;
}

.start-btn {
  /* text-align: center; */
  /* display: block; */
  margin: 5%;
}

.grid {
  height: 400px;
  width: 200px;
  background-color: #b9fffc;
  display: flex;
  flex-wrap: wrap;
}

.taken {
  background-color: #590995;
}

.hidden {
  /* background-color: white; */
  visibility: hidden;
}

.grid div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.tetromino {
  background-color: #590995;
}

.next-area {
text-align: center;
}

.next-text {
  /* display: flex; */
  /* display: block; */
  margin: 10% 0 0 20%;
  /* padding: 0 10%; */
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  margin: 10% 0 0 20%;
  outline: 1px solid white;
}

.mini-grid div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.display {
  background-color: #c62a88;
}
