body {
  /* text-align: center; */
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 3rem;
  margin: 5%;
  color: #ffefa0;
}

h2 {
  margin: 5%;
  color: #FEF2BF;
  color: #ac4b1c;
}

h3 {
  color: #fca652;
}

h4 {
  color: white;
  color: #FEF2BF;
}

.big-container {
  padding: 10% 15%;
  /* display: inline-flex; */
  /* text-align: center; */
}

.container {
  display: inline-flex;
  text-align: center;
  padding: 0 0 0 5%;
}

.title-area {
  /* padding: 10% 0 0 0; */
  text-align: center;
}

.start-btn {
  /* text-align: center; */
  /* display: block; */
  margin: 5%;
}

.grid {
  height: 400px;
  width: 200px;
  background-color: #b9fffc;
  display: inline-flex;
  flex-wrap: wrap;
}

.taken {
  background-color: #590995;
}

.hidden {
  /* background-color: white; */
  visibility: hidden;
}

.grid div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.tetromino {
  background-color: #590995;
}

.next-area {
  text-align: center;
  width: 100px;
}

.next-text {
  margin: 10% 0 0 20%;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 10% 0 0 20%;
  /* outline: 1px solid white; */
}

.mini-grid div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.display {
  background-color: #c62a88;
}
