body {
  /* text-align: center; */
  /* background-color: #011F3F; */
}

.level-title {
  /* font-family: 'Press Start 2P', cursive; */
  font-size: 3rem;
  /* margin: 5%; */
  /* color: #FEF2BF; */
}

.grid {
  height: 400px;
  width: 200px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.taken {
  background-color: blue;
}

.hidden {
  /* background-color: white; */
  visibility: hidden;
}

.grid div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-left: 50px;
}

.mini-grid div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.container {
  display: flex;
}

.display {
  background-color: green;
}
