body {
  /* text-align: center; */
  /* background-color: #011F3F; */
}

.level-title {
  /* font-family: 'Press Start 2P', cursive; */
  font-size: 3rem;
  /* margin: 5%; */
  /* color: #FEF2BF; */
}

.grid {
  height: 400px;
  width: 200px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.taken {
  background-color: blue;
}

.hidden {
  /* background-color: white; */
  visibility: hidden;
}

.grid div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-left: 50px;
}

.mini-grid div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.container {
  display: flex;
}

.display {
  background-color: green;
}

/*
.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
} */
